.full-height {
    height: 100% !important;
    max-height: 100% !important;
}

.full-width {
    width: 100% !important;
    max-width: 100% !important;
}

td:hover {
    cursor : pointer;
}

table {
    background : transparent;
}

td {
    background : white;
    padding: 0 5px;
}

.selected {
    background : grey;
}
